/* Reset e configurações básicas */


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero{
    background-image: linear-gradient(to bottom, #BEB9B1 35%, #f8f8f8 30%, #beb9b1 35%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #BEB9B1; */
    & img{
        width: 70%;
        /* height: auto; */
        background-color: #BEB9B1;
    }
        & a{
        margin-bottom: 2em;
        width: 70%;
        text-transform: uppercase;
        padding: 0.5em 1em;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 1rem;
        left: 50%;
        border-radius: 10px;background-image: linear-gradient(to right, #7CB258, #0C7D32);
        transition: all 0.3s ease-in-out;
    }
}

.middle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #606060;
    & img{
        width: 100svw;
        /* height: auto; */
        /* background-color: #BEB9B1; */
    }
    & a{
        margin-bottom: 2em;
        width: 70%;
        text-transform: uppercase;
        padding: 0.5em 1em;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 1rem;
        /* position: absolute; */
        left: 50%;
        /* transform: translateX(-60%); */
        /* font-size: 1.5rem; */
        /*border: 2px solid white;
        */border-radius: 10px;
        /*background-color: #;
        */background-image: linear-gradient(to right, #7CB258, #0C7D32);
        transition: all 0.3s ease-in-out;
    }
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BEB9B1;
    & img{
        /* width: 70%; */
		background-color: #beb9b1;
    }
    & map{
        display: flex;
    }
}
@media (max-width: 600px){
	.hero img, .middle img, .footer img {
		width: 100svw;
        height: auto;
	}
    .footer img{
        width: 105%;
    }
}
